html{
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 4fr;
  width: 75%;
  height: 60%;
}
.map-header {
  width: 100%;
}
.map-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
