@import 'variables';

html{
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
}

.map-controls {
  position: fixed;
  z-index: 1001;
  display: grid;
  grid-template-rows: repeat(32, 1fr);
  grid-template-columns: repeat(32, 1fr);
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.map-toggle {
  grid-row: 27/30;
  grid-column: 2/10;
  @include tablet {
    grid-row: 28/29;
    grid-column: 1/6;
  }
  @include desktop {
    grid-row: 28/29;
    grid-column: 1/4;
  }
  pointer-events: all;
}

.map-area {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
