@import 'variables';
@import 'layout';

.map {
  border-radius: 0.5rem;
  height: 60%;
  width: 75%;
}

.map-switcher {
  font-size: 1.5rem;
  border: 0;
  border-radius: 0.25rem;
  background: darkslategray;
  color: whitesmoke;
  margin: 1rem 0;
  padding: 0.1rem 0.33rem;
}

.map-switcher:hover {
  background: slategray;
}

html {
  background: whitesmoke;
}
